.contacts-container__title {
  margin: 0;
  margin-top: 30px;
  font-size: 26px;
  line-height: 28px;
  font-weight: bold;
}

.contacts-container__list {
  margin: 0;
  margin-top: 10px;
  padding-left: 50px;
}

@media screen and (max-width: 900px) {
  .contacts-container__title {
    margin-top: 25px;
    font-size: 22px;
    line-height: 24px;
  }

  .contacts-container__list {
    padding-left: 35px;
  }
}

@media screen and (max-width: 600px) {
  .contacts-container__title {
    margin-top: 20px;
    font-size: 20px;
    line-height: 22px;
  }
}

@media screen and (max-width: 425px) {
  .contacts-container__title {
    margin-top: 15px;
  }

  .contacts-container__list {
    padding-left: 30px;
  }
}