$colorPageThemeDay: #000;
$colorPageThemeNight: #fff;

.main {
  font-family: 'Didot';
  border: 1px solid;
  margin: 50px;
  padding: 80px 40px 60px 40px;
  &_theme-day {
    color: $colorPageThemeDay
  }
  &_theme-night {
    color: $colorPageThemeNight;
  }
}

.main__block-title {
  display: flex;
  justify-content: space-between;
  max-width: 720px;
}

.main__title {
  font-size: 45px;
  line-height: 50px;
  font-weight: bold;
  margin: 0;
}

.main__subtitle {
  margin: 0;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  font-size: 26px;
  line-height: 28px;
  font-weight: bold;
  &_profession {
    margin-top: 0px;
    font-size: 22px;
    line-height: 24px;
    font-style: italic;
  }
  &_stack {
    margin-top: 50px;
  }
}

.main__subtitle-text-elem {
  display: flex;
  max-width: 600px;
  padding-left: 50px;
  margin-top: 10px;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  max-width: 550px;
}

@media screen and (max-width: 900px) {
  .main {
    margin: 40px;
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .main__title {
    font-size: 35px;
    line-height: 45px;
  }

  .main__subtitle {
    font-size: 22px;
    line-height: 24px;
    &_stack {
      margin-top: 30px;
    }
  }

  .main__subtitle-text-elem {
    font-size: 18px;
    line-height: 22px;
    padding-left: 35px;
  }
}

@media screen and (max-width: 600px) {
  .main {
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .main__title {
    font-size: 30px;
    line-height: 38px;
  }

  .main__subtitle {
    font-size: 20px;
    line-height: 22px;
    &_stack {
      margin-top: 25px;
    }
  }

  .main__subtitle-text-elem {
    font-size: 16px;
    line-height: 20px;
    padding-left: 35px;
  }
}

@media screen and (max-width: 425px) {
  .main {
    margin: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 35px;
    padding-bottom: 20px;
  }

  .main__title {
    font-size: 25px;
    line-height: 30px;
  }
  
  .main__subtitle-text-elem {
    max-width: 280px;
    padding-left: 30px;
  }

  .main__subtitle {
    &_profession {
      font-size: 18px;
      line-height: 20px;
    }
    &_stack {
      margin-top: 20px;
    }
  }
}