.main {
  font-family: "Didot";
  margin-top: 80px;
}

.main__title {
  font-size: 45px;
  line-height: 50px;
  font-weight: bold;
  margin: 0;
}

.main__subtitle {
  display: flex;
  flex-direction: column;
  font-size: 26px;
  line-height: 28px;
  font-weight: bold;
  margin: 0;
  margin-top: 20px;
}
.main__subtitle_profession {
  margin-top: 5px;
}
.main__subtitle_stack {
  margin-top: 80px;
}

.main__subtitle-text-elem {
  display: flex;
  max-width: 600px;
  padding-left: 60px;
  margin-top: 10px;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
}
.main__subtitle-text-elem_link {
  text-decoration: none;
  color: inherit;
}

.portfolio-elem-container__image-open-page {
  background-size: 25px 25px;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: 5px;
}
.portfolio-elem-container__image-open-page_theme-day {
  background-image: url("../../images/btn_open_link_theme_day.svg");
}
.portfolio-elem-container__image-open-page_theme-night {
  background-image: url("../../images/btn_open_link_theme_night.svg");
}