.education-element-container {
  list-style-type: none;
  margin-top: 15px;
}
.education-element-container:first-of-type {
  margin-top: 0;
}

.education-element-container__link {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  display: flex;
  align-items: center;
}
.education-element-container__link_theme-day {
  cursor: url("../../images/cursor_pointer_day_theme.svg"), pointer;
}
.education-element-container__link_theme-night {
  cursor: url("../../images/cursor_pointer_night_theme.svg"), pointer;
}

.education-element-container__link-image {
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
}
.education-element-container__link-image_theme-day {
  background-image: url("../../images/btn_open_link_theme_day.svg");
}
.education-element-container__link-image_theme-night {
  background-image: url("../../images/btn_open_link_theme_night.svg");
}